
body {
    font-family: 'Poppins-Regular', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .form-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
  }
  
  h1 {
    font-size: 24px;
    color: #333333;
  }
  
  hr {
    border: 1px solid #dddddd;
    margin: 10px 0;
  }
  
  .input-container {
    margin-bottom: 20px;
  }
  
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #dddddd;
    border-radius: 4px;
  }
  
  button {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dddddd;
    border-radius: 4px;
  }
  
  /* Additional styles for DisplayData component */
  .display-data-container {
    margin-top: 20px;
  }
  
  .display-data-container h2 {
    font-size: 20px;
    color: #333333;
  }
  
  .display-data-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .display-data-container li {
    margin-bottom: 10px;
  }