.inventory{
    color: #000000;
text-align: left;
font-family: 'Poppins-Medium', sans-serif;
font-size: 38px;
font-weight: 500;
position: relative;
box-sizing: border-box;
}
.inventory-details{
    margin-top: 3rem;
    color: #000000;
    text-align: left;
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 14px;
    font-weight: 700;
    position: relative;
    
}
.inventory-details span{
    margin-right: 6rem;
}

.hr{
    margin-top: 1rem;
    border-style: solid;
    border-color: #c3c1c1;
    border-width: 2px 0 0 0;
    width: 969px;
    height: 0px;
    position: relative;
}